/*#fadadd */
/*#01204E*/
/*#008abf*/
:root {
    --bg-color: #FFF5EE;
    --text-color: #000000 ;
    --sec-clr:  #F5F5F5;
    --accent-clr:#FF5722 ;
}
@font-face {
    font-family: 'Lora'; /*a name to be used later*/
    src: url('../fonts/Lora-VariableFont_wght.ttf'); /*URL to font*/
}
.name{
    height: 100vh;
    background-color: var(--sec-clr);
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}
.name-holder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
body{
    color: 	var(--text-color);
    background-color: var(--bg-color);
    font-size: large;
    font-family:  'Lora', sans-serif;
}
.Nav-bar-icon{
    opacity: 0;
}
.About-me{
    width: 100%;
    padding-left: 5%;
    position: relative;
    float: right;
}
.About-me-text{
    width: 100%;
    position: relative;
    float: right;   
}
.About-text{
    font-size: x-large;
    font-family:  'Lora', sans-serif;
    font-weight: 600;
    width: 60%;
    float: right;
}
.Home-image-holder{
    width: max-content;
    position: relative;
    float: left;
    width: 40%;
}
.Home-image{
    width: 100%;
}
.Header{
    border-bottom: 2px solid #01204E;
    background-color: var(--sec-clr);
}
.Name{
    display: inline;
    position:relative;
    width: 100%;    
    color: var(--accent-clr);
}
.Nav-bar{
    position: relative;
    width: auto;
    font-size: large;
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
}
.Nav-bar-content{
    color: var(--text-color);
    width: auto;
    overflow: hidden;
    text-decoration: none;
    font-weight: 600;
    display: block;
}
.Nav-bar-content-holder{
    margin-top: 0%;
    text-decoration: none;
    display: block;
}
.Nav-bar-holder-r{
    display: none;
}
@media only screen and (max-width: 600px) {
    .Nav-bar{
        display:none;
        flex-direction: column;
        justify-content:space-around;
    }
    .Nav-bar-content-holder{
        display: flex;
        justify-content: center;
        color: #01204E;
        font-size:10vm;
        font-family:  'Lora', sans-serif;
        text-decoration: none;
        padding: 7%;
        margin-top: 10vh;
    }
    .name{
        font-size: 3vw;
    }
    body{
        background-color: var(--bg-color);
    }
    .Nav-bar-icon{
        opacity: 100;
        color: #e6f3ff;
        position: relative;
        float: right;
        width:20%;
        height: auto;
        background: none;
        border: none;
        z-index: 1;
    }
    .Nav-bar-icon-image{
        display: block;
        position: relative;
        height: 10vw;
        margin-top: 6%;
    }    
    .About-me{
        width: auto;
        padding-left: 3%;
        height: auto;
        padding-top:2%;
    }
    .Home-image-holder{
        width: 100%;
        height: 100%;
    }
    .Home-image{
        width: auto;
        height: 100%;
        margin-left: -10%;
    }
    .About-text{
        width: 100%;
        font-family:  'Lora', sans-serif;
        font-size: 4vw;

    }
  }