/*#fadadd */
/*#01204E*/
/*#008abf*/
/*#D84339*/
/*:root {
    --bg-color: #FFF5EE;
    --text-color: #000000 ;
    --sec-clr:  #F5F5F5;
    --accent-clr:#FF5722 ;
}*/
:root {
    --bg-color: #FFF5EE;
    --text-color: #000000 ;
    --sec-clr:  #F5F5F5;
    --accent-clr:#FF5722 ;
}
#Name{
    font-size: x-large;
    font-weight: bolder;
    margin-top: -2%;
    color: black;
}
@font-face {
    font-family: 'Lora'; /*a name to be used later*/
    src: url('../fonts/Lora-VariableFont_wght.ttf'); /*URL to font*/
}
.name{
    height: 100vh;
    background-color: var(--sec-clr);
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}
.name-holder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
body{
    color: 	var(--text-color);
    background-color: var(--bg-color);
    font-size: large;
    font-family:  'Lora', sans-serif;
}
.Nav-bar-icon{
    opacity: 0;
}
.About-me{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.About-me-text{
    width: 100%;
}
.About-text{
    font-size: x-large;
    font-family:  'Lora', sans-serif;
    font-weight: 600;
    width: 60%;
}
.Home-image-holder{
display: flex;
flex-direction: row;
justify-content: center;
    width: 50%;
}
.Home-image{
    width: 60%;
    border-radius:10%;
    padding: 4%;
}
.Header{
    border-bottom: 2px solid var(--accent-clr);
    background-color: var(--sec-clr);
}
.Name{
    display: inline;
    position:relative;
    width: 100%;    
    color: var(--accent-clr);
}
.Nav-bar{
    width: auto;
    font-size: large;
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
}
.Nav-bar-content{
    color: var(--text-color);
    width: auto;
    overflow: hidden;
    text-decoration: none;
    font-weight: 600;
    display: block;
}
.Nav-bar-content-holder{
    margin-top: 0%;
    text-decoration: none;
    display: block;
}
.Nav-bar-holder-r{
    display: none;
}
.Projects{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .Nav-bar{
        display:none;
        height: 100vh;
        flex-direction: column;
        justify-content:space-around;
    }
    .Nav-bar-content-holder{
        display: flex;
        justify-content: center;
        font-size:19vm;
        font-family:  'Lora', sans-serif;
        text-decoration: none;
        padding: 4%;
        margin-top: 10vh;
    }
    body{
        background-color: var(--bg-color);
    }
    .Nav-bar-icon{
        opacity: 100;
        color: #e6f3ff;
        position: relative;
        float: right;
        display: block;
        width:20%;
        height: auto;
        background: none;
        border: none;
        z-index: 1;
    }
    .Nav-bar-icon-image{
        display: block;
        position: relative;
        height: 10vw;
        margin-top: 6%;
        z-index: 1;
    }    
    .About-me{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        padding-left: 3%;
        height: auto;
        padding-top:2%;
    }
    .Home-image-holder{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 45vh;
        width: auto;
        }
        .Home-image{
            width: 60%;
            border-radius:10%;
            padding: 4%;
        }
    .About-text{
        width: 100%;
        font-family:  'Lora', sans-serif;
        font-size: 4vw;

    }
    .Projects{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        font-family:  'Lora', sans-serif;
        font-size: 6vw;
    }
  }