body{
    background-color: #16161d;
    color: #e6f3ff;
    font-size: large;
    font-family:  'Helvetica Neue', sans-serif;
}
.Nav-bar-icon{
    display: none;
}
.Name{
    position: absolute;
    top:0;
}
.Nav-bar{
   position: absolute;   
    right: 0;
    font-size: larger;
    font-family:  'Helvetica Neue', sans-serif;
}
.Nav-bar-r{
    display: none;
}
.Nav-bar-content{
    padding: 1rem 2rem;
    background-color: #313c46;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.Nav-bar-content-r{
    display: none;
}
.Nav-bar-holder-r{
    display: none;
}
@media only screen and (max-width: 600px) {
    .Nav-bar-icon{
        display: block;
        color: #e6f3ff;
        position: absolute;
        float: right;
        width:20%;
        height: auto;
        background: none;
    }
    .Name{
        width: auto;
    }
    .Nav-bar-icon-image{
        display: block;
        position: relative;
        width: 100%;
    }    
    .Nav-bar-icon:hover{
        color: #e6f3ff;
    }
    .Nav-bar{
        display:none;
    }
    .Nav-bar-r{
        display: none;
    }
    .Nav-bar-content-r{
    background-color: #16161d;
    color: #e6f3ff;
    font-size:xx-large;
    font-family:  "NTR", sans-serif;
    text-decoration: none;
    }
    .Nav-bar-holder-r{
        padding: 10%;
        text-align: center;
    }
  }