/*#fadadd */
/*#01204E*/
body{
    color: #01204E;
    background-color:#fadadd ;
    font-size: large;
    font-family:  "NTR", sans-serif;
}
.Nav-bar-icon{
    opacity: 0;
}
.Header{
    border-bottom: 2px solid #01204E;
}
.Name{
    display: inline;
    position:relative;
    width: 100%;
    padding-top: 1%;   
}
.Nav-bar{
    position: relative;
    padding-top: 0%;   
    width: auto;
    font-size: xx-large;
}
.Nav-bar-r{
    opacity: 0;
}
.Nav-bar-content{
    color: #01204E;
    width: auto;
    float: right;
    overflow: hidden;
    text-decoration: none;
}
.Nav-bar-content-holder{
    color: #e6f3ff;
    width: auto;
    margin-top: -5%;
    float: right;
    overflow: hidden;
    text-decoration: none;
    padding: 1rem 2rem;
}
.Nav-bar-holder-r{
    display: none;
}
@media only screen and (max-width: 600px) {
    .Nav-bar-icon{
        opacity: 100;
        color: #e6f3ff;
        position: relative;
        float: right;
        width:20%;
        height: auto;
        background: none;
    }
    .Name{
        width: auto;
    }
    .Nav-bar-icon-image{
        display: block;
        position: relative;
        width: 100%;
    }    
    .Nav-bar-icon:hover{
        color: #e6f3ff;
    }
    .Nav-bar{
        display:none;
    }
    .Nav-bar-r{
        display: none;
    }
    .Nav-bar-content-r{
    color: #01204E;
    font-size:xx-large;
    font-family:  "NTR", sans-serif;
    text-decoration: none;
    display: block;
    }
    .Nav-bar-holder-r{
        display: block;
        padding: 7%;
        text-align: center;
    }
  }